body {
  font: 24px "Century Gothic", Futura, sans-serif;
  line-height: 40px;
  margin: 20px;
  color: #36596E;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #36596E;
  float: left;
  font-size: 155px;
  font-weight: normal;
  line-height: 165px;
  height: 165px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 165px;
  color: #36596E;
}

.winning-square {
  background: #66CDAA;
  color: #fff;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.move-button {
  font-size: 18px;
  width: 180px;
  height: 40px;
  background-color: #6DB2DC;
  border-radius: 5px;
  border-color: #36596E;
  color: #fff;
}
